PORT =

CONTAINER_NAME_APP =
CONTAINER_NAME_APP_PORT =
CONTAINER_NAME_APP_RESTART =
CONTAINER_NAME_DB =
CONTAINER_NAME_DB_PORT =
CONTAINER_NAME_DB_RESTART =

DATABASE_HOST =
DATABASE_PORT =
DATABASE_NAME =
DATABASE_USER =
DATABASE_PASSWORD =

SENTRY_DSN =
